body {

	border: solid 10px black;
	margin: 20px;
	Padding: 30px;
	font-family: "Lato", sans-serif;
    background-color: rgb(65, 70, 88);
    color: rgb(247, 247, 247);
	font-size: 14pt;}

	
a:link {  color: whitesmoke;
}
a:visited {color: whitesmoke;}

a:hover {color: darkorange; font-size: 16pt;}

img {max-width: 85%; object-fit: contain; display: block; margin-left: auto; margin-right: auto; width: 40%;}


h1 { text-align: center;}

h2 { text-align: left; font-size: 16pt; }


h3 {text-align: center;
font-size: 16pt;
}

h4 { text-align: center;
font-size: 16pt;
 }

h5 { text-align: center; font-size: 14pt; }

h6 {text-align: left;
font-size: 14pt;}


