body {

	border: solid 30px whitesmoke;
	margin: 30px;
	Padding: 50px;
	font-family: "Lato", sans-serif;
    background-color: rgb(65, 70, 88);
    color: rgb(247, 247, 247);
	font-size: 14pt;}
	
a:link {  color: whitesmoke;
}
a:visited {color: whitesmoke;}

a:hover {color: darkorange; font-size: 16pt;}


h1 { text-align: center;}


h3 {text-align: center;
font-size: 16pt;
}

h4 { text-align: center;
font-size: 16pt;
 }

h5 { text-align: center }

h6 {text-align: left;
font-size: 14pt;}


