html {
    height: 100%;
    font-family: "Lato", sans-serif;
    background-color: rgb(37, 40, 50);
    color: rgb(247, 247, 247);
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: rgb(65, 70, 88);
    width: 100%;
}

header .top {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

header > .top > div {
    padding: 16px;
}

.menu-button {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    padding: 0;
    width: 35px;
    height: 5px;
    background-color: rgb(247, 247, 247);
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

header nav {
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

header .show {
    display: inline-flex;
}

header nav a {
    padding: 16px;
}

main {
    margin: 0 auto;
    max-width: 1100px;
    padding: 48px 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: auto;
}

article a {
    text-decoration: underline;
}

h1, h2, h3 {
    line-height: 1.2
}

article {
    line-height: 1.6;
    font-size: 18px;
}

aside {
    margin-left: 80px;
    font-size: 16px;
    min-width: 180px;
}

aside h2 {
    display: block;
    font-size: inherit;
    margin: 0 0 1.1em 0;
}

aside a {
    display: block;
    margin: 0 0 0.8em 0;
    padding: 2px;
}

footer {
    background-color: rgb(65, 70, 88);
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
}

footer div {
    padding: 16px;
}

footer a {
    padding: 16px;
}

a:hover {
    background-color: rgba(87, 93, 117, 120);
}

a {
    text-decoration: none;
    color: inherit;
}

.commandblock {
    background-color: rgb(12, 12, 12);
    color: rgb(204, 194, 192);
    font-family: "Consolas", "Lucida Console", monospace;
    padding: 0.2em;
    font-size: 0.9em;
}

.center {
    text-align: center;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.center-img-tall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 320px;
}

@media only screen and (max-width: 768px) {
    main {
        flex-direction: column-reverse;
    }

    aside {
        margin-left: 0;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    .center-img {
        width: 100%;
    }
    
    .center-img-tall {
        width: 100%;
    }
}
